<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<!-- Configuración de conexión a la Base de Datos -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tiendaonlinefinal3</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1111</property>
        <!-- JDBC connection pool -->
    	<property name="connection.pool_size">1</property>
    	<!-- SQL dialecto -->
    	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    	<!-- Mostrar en consola todos las sentencias SQL ejecutadas -->
    	<property name="show_sql">false</property>
    	
    	<!-- Archivos Mapping -->
    	<!-- usa anotaciones -->
    	<mapping class="com.grupoB.project.modelo.Autor"/>
    	<mapping class="com.grupoB.project.modelo.Categoria"/>
    	<mapping class="com.grupoB.project.modelo.Cliente"/>
    	<mapping class="com.grupoB.project.modelo.Editorial"/>
    	<mapping class="com.grupoB.project.modelo.Libro"/>
    	<mapping class="com.grupoB.project.modelo.Libropedido"/>
    	<mapping class="com.grupoB.project.modelo.Pedido"/>
    	<mapping class="com.grupoB.project.modelo.Precio"/>
    	<mapping class="com.grupoB.project.modelo.Stock"/>
    	
    	
        
    </session-factory>
</hibernate-configuration>
